<h1>VAA &bull; 词道</h1>
<h2>Vocabulary Anytime Anywhere &bull; 随时随地记单词</h2>
<section id="downloads">
	<a href='{{ site.baseurl }}/' class="btn"><i class="fa fa-home"></i> Overview &bull; 概述</a>
	<a href='{{ site.baseurl }}/docs/' class="btn"><i class="fa fa-info-circle"></i> Docs &bull; 文档</a>
	<a href="https://github.com/xiaominglui/vello" target='_blank' class="btn"><i class="fa fa-github-square"></i> GitHub</a>
	<a href="https://plus.google.com/102583381936225677271" rel="publisher" target='_blank' class="btn"><i class="fa fa-google-plus-square"></i> Google+</a>
</section>
