<h1>词道 | VAA</h1>
<h2>随时随地记单词 | Vocabulary Anytime Anywhere</h2>
<section id="downloads">
	<a href='{{ site.baseurl }}/' class="btn"><i class="fa fa-home"></i>主页</a>
	<a href='{{ site.baseurl }}/about/' class="btn"><i class="fa fa-info-circle"></i>关于</a>
	<a href="https://github.com/xiaominglui/vello" target='_blank' class="btn"><i class="fa fa-github-square"></i> GitHub</a>
	<a href="https://plus.google.com/102583381936225677271" rel="publisher" target='_blank' class="btn"><i class="fa fa-google-plus-square"></i> Google+</a>
</section>
